/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2021, 10:18:36 PM
    Author     : CUINIC4
*/

#main_rPed{
    position:inherit;
    left:0px;
    top:0px;
    width: 100%;
    height:100%; 
    background-color: #0a3638; 
}
h1.ptitle{
    position:fixed;
    z-index: 1;
    width:100%;
    height:50px;
    padding:10px;
    left:0px;
    top:0px;
    background-color:orange;
    color:black;
}

table.verTab {
    position:relative;
    float:left;
    color:white;
    left:28px;
    top:70px;
    border-collapse:collapse;
    font-size:10pt;
}

table.verTab2 {
    position:relative;
    float:left;
    color:white;
    left:55px;
    top:70px;
    border-collapse:collapse;
    font-size:10pt;
}
.row1{
    text-align:center;
    padding:16px;
    background-color: orangered;
    border-top:3.5px solid black;
    border-bottom:6px solid black;
    text-transform:uppercase;
    height:60px;
}
.impar{
    text-align:center;
    background-color:#f9c6ac;
    color:white;
    height:50px;
}
.par{
    text-align:center;
    background-color:#d4784b;
    color:white;
    height:50px;
}

#main_rPed > table{
    position:inherit;
    float:left;
    left:50%;
    top:50%;
    width:100%;
    height:50%;
    transform: translate(-50%,-50%);
}

.rpedido{
    position:inherit;
    left:50%;
    transform: translateX(12.5%);
    width: 80%;
    height:80%;
    background-color: whitesmoke;
}
#rcliente{
    position: inherit;
    float:left;
    left:50%;
    transform: translateX(-50%);
    bottom: 3%;
    width:200px;
    height:40px;
    background-color: whitesmoke;
}
.rpedido:hover,#rcliente:hover{
    background-color: gray;
    color:white;
}

.myModel{
    position:absolute;
    display: none;
    z-index: 3;
    width:100%;
    height:100%;
    background-color: rgba(10,20,120,0.5);
}
.garson_dados{
    position:relative;
    float:left;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%); 
    width:400px;
    height:300px;
    background-color: orange;
}

.x{
    position:relative;
    float:right;
    right:0px;
    width:35px;
    height:35px;
    font-size: 22pt;
    background:none;
}
.x:hover{
    background-color: red;
}
.gdados,#vgarson > .garson_dados > h2,#vlogout > .garson_dados > h2{
    font-size: 18pt;
    margin: 10px;
    padding: 5px;
}
#vlogout > #logBox{
    position:relative;
    float:left;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:300px;
    height:200px;
    background-color: orange;
    text-align:center;
} 
#vlogout > .garson_dados > h2{
    font-size: 18pt;
    margin: 40px;
    padding: 5px;
}
#vlogout > .garson_dados >button,#vlogout > .garson_dados > a >button{
    width:85px;
    height:35px;
    margin:10px;
    padding:5px;
    border-radius: 10px;
}
